registry=https://registry.npmmirror.com/
strict-ssl=false

@omni:registry=https://jfrogdev.gtja.net/artifactory/api/npm/hlwjsz-npm-virtual/
//jfrogdev.gtja.net/artifactory/api/npm/hlwjsz-npm-virtual/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiIySnQtSU43UmptdHQzek5ZQ3VmRGVVRGlHbkp0X0R0N2REOVZfYXh3bURVIn0.eyJzdWIiOiJqZnJ0QDAxZ3czZ3drbW52NHNxMXIwNWNleTgwZ2hwL3VzZXJzL2ppbHUwMjkxMDUiLCJzY3AiOiJhcHBsaWVkLXBlcm1pc3Npb25zL3VzZXIiLCJhdWQiOiJqZnJ0QDAxZ3czZ3drbW52NHNxMXIwNWNleTgwZ2hwIiwiaXNzIjoiamZydEAwMWd3M2d3a21udjRzcTFyMDVjZXk4MGdocC91c2Vycy9fc3lzdGVtXyIsImV4cCI6MTc1NDA5ODI1MSwiaWF0IjoxNzUxNTA2MjUxLCJqdGkiOiJjZjY4ZmVmYy1kOWMyLTQ5MjQtOTU4Mi1hNzE0NjQyNzY0M2MifQ.H46GMRs3ZB5H-MFJz0Djejt88J5Qp0MSLIIIMfxadNY2t6TeIBGOhCm2uIRLiGUjMWRWED4IPpS2LPA2XTXL7IrJexFcfZ-Eoxnll_WvRM4nwVhFgJH41mXV2Shvpmy2RxfJMfDNxpUYAP4Xklmk7v9fox8fjvcMqAdWLwc48G0h6H0qgdNa_wTgKoh8_N5JKdqcN2WAlWIOF-whIAWWNErRiAc0QQYf7IxlIRIwNM1AIKAah6ewRdaDNdZMg3-00-8nw4nRf4O0z1k9XnZ1JfeQlpLbdYdduRKeN5nRUY0_wg3Hw-GfXtU0Xgek586j6yNTyq2ohtnPon5M6kgDng
